<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки сканера</title>
</head>
<body>
    <h1>Настройки сканера</h1>
    <form id="scannerForm">


        URl-непосредственное имя сайта. Без / на конце.

        <!-- URL -->
        <div>
            <label for="url">URL для обработки:</label>
            <input type="text" id="url" name="url" required placeholder='Пример: "https://example.com/gallery?im.php=*"'>
        </div>

        <!-- Название сканирования -->
        <div>
            <label for="name">Название сканирования:</label>
            <input type="text" id="name" name="cookie" placeholder='Сканирование 1'>
        </div>

        <!-- Кнопка отправки -->
        <div>
            <button type="submit">Начать сканирование</button>
        </div>
    </form>

    <script>

    </script>
</body>
</html>